export DEFENDER_TEAM_API_KEY=
export DEFENDER_TEAM_SECRET_KEY=
export RINKEBY_AUTOTASK_ID=

# for local debugging
export RINKEBY_RELAYER_API_KEY=
export RINKEBY_RELAYER_SECRET=
export MUMBAI_RELAYER_API_KEY=
export MUMBAI_RELAYER_SECRET=
export INFURA_API_KEY=